{% extends "../layout/layout.html" %}
{%block title%} {{title}} {%endblock%}
{% block content %}
{% load static %}


<div class="text-center">
    <h2>{{post.title}}</h2>
    <h3 class="my-2 h5" style="color: rgb(240, 90, 4);">{{post.date|date:'F jS Y'}}</h3>
    <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">
    <div class="my-4">
        <p>{{post.description|safe}}</p>
    </div>
    <button class="btn btn-primary"> <a href="{% url 'blog:blog' %}"
            style="text-decoration: none; color: black;">REGRESAR</a></button>
</div>

{% endblock %}